<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Java2 Project</title>
    <!--  Import echarts lib by CDN, you can also import from local files  -->
    <script src='https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts-wordcloud@2/dist/echarts-wordcloud.min.js"></script>

    <!--  Import the data files  -->
    <script src='../js/wordcloud-demo.js'></script>
    <script src='../js/piechart-demo.js'></script>
    <style>
        h1 {

        }
        .button {
            font-size: 20px;
        }
    </style>
</head>
<body style="text-align: center;background: url('/images/1.png');background-size: cover">
<h1>Home Page</h1>
<span style="font-size: 20px">Please click the buttons to get data about</span>
<button class="button" onclick='location.href="answers"'>answers</button>
<button class="button" onclick='location.href="tags"'>tags</button>
<button class="button" onclick='location.href="users"'>users</button>
<br><br><br><br><br><br>
<form action="" method="post" style="font-size: 50px">
    <select>
        <option value="">Which question do you want to ask?</option>
        <option value=1>What percentage of questions don't have any answer?</option>
        <option value=2>What is the average and maximum number of answers?</option>
        <option value=3>What is the distribution of the number of answers?</option>
        <option value=4>Which tags frequently appear together with the java tag?</option>
        <option value=5>Which tags or tag combinations receive the most upvotes?</option>
        <option value=6>Which tags or tag combinations receive the most views?</option>
        <option value=7>Which are the most active users who frequently participate in thread discussions?</option>
        <option value=8>What is the distribution of the user participation</option>
        <option value=9>Which question do you want to ask?</option>
        <option value=10>Which question do you want to ask?</option>
    </select>
    <input type="submit" name="summit">
</form>
</body>

<!--<script>
&lt;!&ndash;  echarts configuration  &ndash;&gt;
    let wordcloud = echarts.init(document.getElementById('wordcloud'));
    let wordcloudData = [];
    for (const key in wordcloudRaw) {
        wordcloudData.push({
            name: key,
            value: wordcloudRaw[key]
        });
    }
    let wordcloudOption = {
        title: {
            text: 'Related Tag WordCloud',
            textStyle: {
                fontStyle: 'oblique',
                fontSize: 20,
                color: '#4cc9f0'
            },
            left: 'center'
        },
        tooltip: {},
        series: [{
            type: 'wordCloud',
            shape: {
              cloudGrow: 0.2
            },
            sizeRange: [10, 60],
            rotationRange: [-30, 30],
            gridSize: 2,
            drawOutOfBound: false,
            layoutAnimation: true,
            keepAspect: true,
            textStyle: {
                fontWeight: 'bold',
                color: function () {
                    return 'rgb(' + [
                        Math.round(Math.random() * 160),
                        Math.round(Math.random() * 160),
                        Math.round(Math.random() * 160)
                    ].join(',') + ')';
                }
            },
            emphasis: {
                textStyle: {
                    shadowBlur: 15,
                    shadowColor: '#333'
                }
            },
            data: wordcloudData.sort(function (a, b) {
                return b.value - a.value;
            })
        }]
    };
    wordcloud.setOption(wordcloudOption);

    let piechart = echarts.init(document.getElementById('piechart'));
    let piechartData = [];
    for (const key in piechartRaw) {
        piechartData.push({
            name: key,
            value: piechartRaw[key]
        });
    }
    let pieOption = {
        title: {
            text: 'Problem Count With Corresponding Answer Count',
            textStyle: {
                fontStyle: 'oblique',
                fontSize: 20,
                color: '#4cc9f0'
            },
            left: 'center'
        },
        tooltip: {
            trigger: 'item'
        },
        grid: {
            width: '100%',
            height: '100%'
        },
        legend: {
            orient: 'vertical',
            textStyle: {
                fontSize: 20,
                color: 'black'
            },
            right: 'center',
            bottom: 'bottom',
        },
        series: [
            {
                name: 'Problem Count',
                type: 'pie',
                radius: '80%',
                data: piechartData,
                color: ['#9400D3', '#FF00FF', '#4169E1', '#3CB371',
                    '#FFA500', '#FF7F50', '#DC143C', '#000080'],
                emphasis: {
                    itemStyle: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0.1, 0.2, 0, 0.5)',
                    }
                },
                itemStyle: {
                    normal: {
                        label: {
                            textStyle: {
                                fontSize: 12,
                                color: 'black'
                            }
                        }
                    }
                }
            }
        ]
    };
    piechart.setOption(pieOption);


</script>-->

</html>
