<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Homepage</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this page -->
  <script src='https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js'></script>
  <script
      src="https://cdn.jsdelivr.net/npm/echarts-wordcloud@2/dist/echarts-wordcloud.min.js">
  </script>

  <script src='../js/wordcloud-demo.js'></script>


  <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">

  <!-- Custom styles for this template-->

  <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="Homepage">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">CS209A Proj</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Visual Data
    </div>

    <li class="nav-item">
      <a class="nav-link" href="AnswersPage">
        <span>Answers</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="TagsPage">
        <span>Tags</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="UsersPage">
        <span>Users</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="ApisPage">
        <span>Apis</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      API
    </div>

    <li class="nav-item">
      <a class="nav-link" href="RESTfulAPI">
        <span>Documentation</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">


    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
  </ul>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column" style="align-content: center">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <span class="tag_data">Welcome! This website is about the analysis of questions on StackOverflow related to Java.</span>
      </nav>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-6 col-md-8 mb-4">
            <div class="card shadow mb-4">
              <!-- Card Body -->
              <div class="card-body">

                <div id="Hot Tags" style="height: 500px;width: 100%"></div>


              </div>
            </div>
          </div>

          <div class="col-xl-6 col-md-8 mb-4">
            <div class="card shadow mb-4">
              <!-- Card Body -->
              <div class="card-body">

                <div id="Hot API" style="height: 500px;width: 100%"></div>


              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Page Content -->


    </div>
    <!-- End of Main Content -->


  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<script>
  function drawWordCloud(path, cloudId) {
    let wordcloudData = [];

    fetch(path)
    .then(response => response.json())
    .then(data => {
      // Convert the data to an array of {name, value} objects
      const dataArray = Object.keys(data).map(key => ({
        name: key,
        value: data[key]
      }))

      wordcloudData.push(...dataArray);

      console.log(wordcloudData);
      drawWordCloudChart();
    });


    function drawWordCloudChart() {
      //<!--  echarts configuration  -->
      let wordcloud = echarts.init(document.getElementById(cloudId));
      let wordcloudOption = {
        title: {
          text: cloudId,
          textStyle: {
            fontFamily: 'Monaco',
            fontSize: 30,
            color: '#4e73df'
          },
          left: 'center'
        },
        tooltip: {},
        series: [{
          type: 'wordCloud',
          shape: {
            cloudGrow: 0.2
          },
          sizeRange: [10, 75],
          rotationRange: [-30, 30],
          gridSize: 2,
          drawOutOfBound: false,
          layoutAnimation: true,
          keepAspect: true,
          textStyle: {
            fontWeight: 'bold',
            color: function () {
              return 'rgb(' + [
                Math.round(Math.random() * 160),
                Math.round(Math.random() * 160),
                Math.round(Math.random() * 160)
              ].join(',') + ')';
            }
          },
          emphasis: {
            textStyle: {
              shadowBlur: 15,
              shadowColor: '#333'
            }
          },
          data: wordcloudData.sort(function (a, b) {
            return b.value - a.value;
          })
        }]
      };
      wordcloud.setOption(wordcloudOption);
    }
  }

  drawWordCloud('/api/TagsPage/chart1', 'Hot Tags');
  drawWordCloud('/api/ApisPage/chart1', 'Hot API');

</script>


<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->

</body>

</html>