<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>RestfulApiPage</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">

  <!-- Custom styles for this template-->

  <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="Homepage">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">CS209A Proj</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Visual Data
    </div>

    <li class="nav-item">
      <a class="nav-link" href="AnswersPage">
        <span>Answers</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="TagsPage">
        <span>Tags</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="UsersPage">
        <span>Users</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="ApisPage">
        <span>Apis</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      API
    </div>

    <li class="nav-item active">
      <a class="nav-link" href="RESTfulAPI">
        <span>Documentation</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">


    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
  </ul>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <!-- <div class="col-lg-6 d-none d-lg-block bg-login-image"></div> -->
              <div class="col-lg-12">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Try it!</h1>
                  </div>
                  <form class="user" id="apiForm">
                    <div class="form-group">
                      <select class="form-control form-control-user" id="category" aria-describedby="methodHelp">
                        <option value="" disabled selected>Select Category</option>
                        <option value="Questions">Questions</option>
                        <option value="Answers">Answers</option>
                        <option value="Answers">Accpted answers</option>
                        <option value="Comments">Comments</option>
                        <option value="Tags">Tags</option>
                      </select>
                    </div>


                    <div class="form-group">
                      <input type="number" class="form-control form-control-user" id="id"
                             placeholder="Question ID (Optional)" min="0" step="1">
                    </div>

                    <button type="submit" class="btn btn-primary btn-user btn-block">
                      Run
                    </button>

                    <script>
                      document.getElementById('apiForm').addEventListener('submit', function(event) {
                        event.preventDefault();

                        const category = document.getElementById('category').value;
                        const id = document.getElementById('id').value;
                        let url;
                        if (category === 'Answers') {
                          url = '/api/java/answers?id=' + id;
                        } else if (category === 'Accepted answers') {
                          url = '/api/java/answers/accepted?id=' + id;
                        } else if (category === 'Comments') {
                          url = '/api/java/comments?id=' + id;
                        } else if (category === 'Questions') {
                          url = '/api/java/questions?id=' + id;
                        } else if (category === 'Tags') {
                          url = '/api/java/tags';
                        }else{
                          return;
                        }
                        window.location.href = url;
                      });
                    </script>

                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>


<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/chart.js/Chart.min.js"></script>


</body>

</html>